body {
    font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
    background-color: #edf2f7;
}

hr {
    margin: 6px 0 12px 0;
    height: 6px;
    width: 100%;
    color: #e4edf4;
}

h2 {
    margin-top: 76px;
    font-size: 24px;
}

h3 {
    margin-top: 60px;
    font-size: 22px;
}

.font-gray {
    color: #787f8c;
}

header,
footer {
    width: 100vw;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

#header-menu {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    height: 62px;
    margin: 0 auto;
    align-items: center;
}

.service-icon img {
    display: inline;
    vertical-align: middle;
    width: 43px;
    height: 43px;
}

.service-icon span {
    vertical-align: middle;
    color: black;
}

header .service-icon span {
    font-size: 26px;
    font-weight: 600;
}

.serch-btn {
    margin-right: 18px;
    font-size: 18px;
    color: black;
}

.login-btn {
    padding: 6px 14px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3ea8ff;
    color: #fff;
    border-radius: 8px;
}

.login-btn:hover {
    background-color: #0f83fd;
}

#mobile-menu {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    height: 60px;
    justify-content: space-between;
    padding: 10px;
}

#mobile-menu>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    #mobile-menu {
        display: none;
    }
}

#outline-btn {
    margin-right: 10px;
}

#outline-box {
    display: none;
}

#outline-box.show {
    display: block;
}

.account-area {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    margin-left: 16px;
    align-items: center;
}

.account-area img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
}

@media screen and (min-width: 800px) {
    #article {
        display: grid;
        grid-template-rows: 260px 230px auto auto auto auto;
        grid-template-columns: 1fr 340px;
        grid-template-areas:
            "title title"
            "content article-info"
            "content author"
            "content outline"
            "discussion space"
            "recommend recommend";
        max-width: 1125px;
        margin: 0 auto;
        padding: 6px;
    }
}

#article-title {
    grid-area: title;
    margin: 50px auto;
    color: black;
    text-align: center;
}

#article-title h1:nth-child(1) {
    font-size: 66px;
}

#article-title h1:nth-child(2) {
    margin: 16px 0px;
}

@media screen and (max-width: 800px) {
    #article-title {
        padding: 0 16px;
    }

    #article-title h1 {
        padding: 0;
        font-size: 24px;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    height: 380px;
}

.article-box {
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 1px 8px rgb(231, 229, 229);
    padding: 20px;
    margin: 20px;
}

#article-info {
    grid-area: article-info;
}

#article-info img {
    width: 20px;
    border-radius: 20px;
}

#article-info>div {
    position: relative;
}

#article-info>div>div {
    padding-bottom: 8px;
    margin-bottom: 20px;
}


.account-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}


.item-name {
    position: absolute;
    left: 0;
    color: #93a5b1;
}

.item-value {
    position: absolute;
    right: 0;
}

#author {
    grid-area: author;
}

#author img {
    display: inline;
    width: 68px;
    height: 68px;
    border-radius: 70px;
}

#author>div {
    display: flex;
}

.flow-icon {
    font-size: 14px;
    border: 0.3mm solid#93a5b1;
    border-radius: 20px;
    padding: 4px 8px;
}

.outline li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.outline li::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 3px;
    bottom: -15px;
    width: 2px;
    background-color: #d9eafb;
}

.outline li::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3ea8ff;
}

#outline-box {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 1px 8px rgb(231, 229, 229);
    padding: 5px;
    margin-right: 10px;
    width: 300px;
    top: 60px;
    right: 0;
}

@media screen and (max-width: 800px) {
    .sticky {
        display: none;
    }

    #article-info {
        display: none;
    }

    #author {
        display: none;
    }

    #outline {
        display: none;
    }
}

#article-content {
    grid-area: content;
    background-color: white;
    padding: 20px 30px;
}

.tags {
    display: flex;
}

.tags>div {
    display: flex;
    align-items: center;
    margin: 2px 2px 20px 2px;
    padding: 2px 4px;
    border: 0.5mm solid #e4edf4;
    border-radius: 14px;
    font-size: 12px;
}

.tags img {
    display: inline-block;
    width: 24px;
}

.tag-list span {
    padding: 3px;
}

.image-container {
    width: 100%;
    margin: 20px auto;
}

.image-container>img {
    width: 100%;
}


details {
    margin: 16px 2px;
    border: 0.4mm solid #dce8f1;
    border-radius: 10px;
    font-size: 15px;
}

details summary {
    padding: 8px 18px;
}

details>div {
    padding: 16px;
}

details ul {
    list-style: disc;
    padding-left: 20px;
}

details li {
    margin: 4px 0 12px 0;
}

details[open] summary {
    background-color: #f1f5f9;
}

details[close] summary {
    box-shadow: 6px 6px 16px rgb(231, 229, 229);
}

.zenn-link {
    margin: 40px 0;
}

.zenn-link>a {
    font-weight: 600;
    color: #0f83fd;
}

.github-suggest {
    width: 180px;
    font-size: 14px;
    border: #dce8f1 solid 1px;
    border-radius: 8px;
    box-shadow: 1px 2px 1px #dce8f1;
    padding: 6px;
    text-align: center;
    margin: 40px 0;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweet {
    width: 120px;
    height: 45px;
    border-radius: 44px;
    border: #edf2f7 solid 2px;
    font-size: 15px;
    text-align: center;
    padding: 4px;
    padding-top: 10px;
}

#author-box img {
    display: inline;
    width: 90px;
    height: 90px;
    border-radius: 70px;
}

#author-box {
    display: flex;
}

#discussion {
    grid-area: discussion;
    text-align: center;
}

#discussion img {
    margin: 0 auto;
    padding: 50px;
}


#recommend {
    grid-area: recommend;
    margin: 0 auto;
    color: black;
    padding: 18px;
    width: 880px;
}

#recommend>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 800px) {
    #recommend {
        width: 100%;
    }

    #recommend>div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.recommend-box {
    display: flex;
    margin: 15px 0;
}

.recommend-box>.mark {
    display: flex;
    width: 90px;
    height: 90px;
    background-color: white;
    font-size: 48px;
    padding: 12px;
    border-radius: 18px;
}

.recommend-box .title {
    font-size: 19px;
    font-weight: bold;
}

.recommend-box .info {
    display: flex;
    font-size: 11px;
}

.recommend-box .article-info {
    margin-left: 16px;
}

.recommend-box .account-icon {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    border-radius: 20px;
    margin-right: 4px;
}

footer {
    font-size: 14px;
}

footer>div {
    display: flex;
    max-width: 1125px;
    margin: 0 auto;
    padding-top: 20px;
}

.service-info {
    width: 200px;
}

@media screen and (max-width: 1000px) {
    footer {
        width: 100%;
    }

    footer br {
        display: none;
    }

    footer>div {
        display: block;
        padding-top: 13px;
    }

    .service-info {
        width: 280px;
        margin: 10px auto;
    }
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-left: 40px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .footer-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0px;
        padding: 2px;
    }

    .footer-menu ul {
        flex: 1;
        margin-top: 20px;
    }
}

.company-logo {
    width: 120px;
    margin: 0 auto;
}