body {
    background-color: #edf2f7;
}

header {
    background-color: #ffffff;
    width: 100wh;
    height: 62px;
}

header>div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 1125px;
    margin: 0 auto;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

#serch-btn {
    font-size: 18px;
    padding: 12px;
}

#login-btn {
    padding: 8px 18px;
    font-size: 16px;
    background-color: #3ea8ff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

#login-btn:hover {
    background-color: #0f83fd;
}

.icon-color {
    color: #787f8c;
}